{{>header}}
  <div class="about-container">
      <form class="description" action="/aboutme" method="post">
        <button id="btn-1" type="button">Description</button>
      </form>

      <form class="tech" action="/aboutme" method="post">
        <button id="btn-2" name="btn-2" type="button">Tech</button>
      </form>

      <form class="stack" action="/aboutme" method="post">
        <button id="btn-3" name="btn-3" type="button">Tech Stack</button>
      </form>

      <form class="hobbies" action="/aboutme" method="post">
        <button id="btn-4" name="btn-4" type="button">Hobbies</button>
      </form>
  </div>
{{>footer}}
