{{>header}}
  <div class="all"></div>
  <form name="test" class="description" action="/aboutme" method="post">
    <button id="btn-1" type="button">Description</button>
  </form>
  <div class="description-response"></div>

  <form class="tech" action="/aboutme" method="post">
    <button id="btn-2" name="btn-2" type="button">Tech</button>
  </form>
  <div class="tech-response"></div>

  <form id="btn-3" class="stack" action="/aboutme" method="post">
    <button name="btn-3" type="button">Tech Stack</button>
  </form>
  <div class="stack-response"></div>

  <form id="btn-4" class="hobbies" action="/aboutme" method="post">
    <button name="btn-4" type="button">Hobbies</button>
  </form>
  <div class="hobbies-response"></div>
{{>footer}}
